.global {
  max-width: 1400px;
  min-width: auto;
  margin: 0 auto;
  padding: 40px;
  background-color:  var(--bleu-transparent);
}

.entete {
  background-color: var(--bleu-clair);
}

.principal {
  background-color: var(--bleu-pale);

}

.pied {
  background-color: var(--bleu-clair);
}
