.global {
  width: 1400px;
  margin: 0 auto;
  padding: 40px;
  background-color:  rgba(184, 225, 255, 0.474);
}

.entete {
  background-color:  rgb(84, 153, 203);
}

.principal {
  background-color: rgb(163, 217, 255);

}

.pied {
  background-color: rgb(84, 153, 203);
}
