.principal .global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: auto;
}
.global{
    display: flex;
    flex-direction: column;
    max-width: auto;
}
.principal__article{
    border: 2px solid  rgb(31, 88, 128);
}
