nav  a{
  text-decoration: none;
  color: var(--bleu-fonce);
  font-size: 18px;
  
}
nav a:hover{
  text-decoration: underline;
}
li{
  list-style: none;
  display: flex;
  align-items: center;
  
}
ul{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
@media (max-width: 768px) {
  ul{
    flex-direction: column;
  }
  
}