.recherche {

  &__input,
  &__bouton {
    background-color: var(--blanc);
    border:2px solid var(--bleu-fonce);
    border-radius: 10px;
    outline: none;
    font-size: 1.5rem;
    &:hover {
      background-color: var(--bleu-pale);
    }
    &:focus {
      background-color: var(--blanc);
      outline: none;
    }
  }
  &__input::placeholder {
    color: var(--bleu-fonce);
    font-size: 1.5rem;
    font-weight: bold;
  }
}
