.recherche {
  border: 1px solid rgba(0, 0, 0, 0.5);

  &__input,
  &__bouton {
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    font-size: 1.5rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
    &:focus {
      background-color: rgba(0, 0, 0, 0.1);
      outline: none;
    }
  }
  &__input::placeholder {
    color: #f00;
    font-size: 1.5rem;
    font-weight: bold;
  }
  img {
  }
}